<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security.xsd" 
       xmlns:context="http://www.springframework.org/schema/context">
    <!--<context:component-scan base-package="security" />-->
    <security:http auto-config='true'>
        <!--Colocar reglas de navegacion-->
        <!--<intercept-url pattern="/pages/**" access="ROLE_ADMIN"/>-->
        <!-- <intercept-url pattern="/pages/**" access="ROLE_USER"/> --><!--En estos momentos esta es la unica forma de permitir acceder al rol usuario a la app-->
        
        <security:intercept-url pattern="/articuloReglam.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/aspectEvalCuarto.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/aspectEvalCuartoEvalCuarto.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/aspect_evalcuartel.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/becado.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/becadoEnfermedad.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/becadoMedicamento.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/becadosQueTienenEnfermedades.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/cantidadBecadoCuarteleria.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/cantidadBecadoGuardia.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/capituloReglam.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/cuarto.faces" access="ROLE_ESPECIALISTA,ROLE_ADMIN"/>
        <security:intercept-url pattern="/edificio.faces" access="ROLE_ESPECIALISTA,ROLE_ADMIN"/>
        <security:intercept-url pattern="/enfermedades.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/evalBecado.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/evalCuartelAspectEvalCuartel.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/evalCuarteleria.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/evalCuarto.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/evalGuardia.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/insert_EvalCuartel.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/insert_EvalCuarto.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/incisoReglam.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/listadoEvalCuarteleria.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/listadoEvalGuardia.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/medicamentoPorDosis.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/medicamentos.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/medicamentQueHaTomadoBecado.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/medico.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/mostrarLasEvalBecado.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/pacienteAtenConsultaMedica.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/pacienteAtendidoMedicamento.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/pacientesAtendidos.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/piso.faces" access="ROLE_ESPECIALISTA,ROLE_ADMIN"/>
        <security:intercept-url pattern="/pisoEdificioTrabajoProd.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/planteamiento.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/profile.faces" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/rangos.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/reglament.faces" access="ROLE_JEFE_RESIDENCIA"/>
        <security:intercept-url pattern="/reportesBecado.faces" access="ROLE_ESPECIALISTA,ROLE_MEDICO"/>
        <security:intercept-url pattern="/reports.faces" access="ROLE_ESPECIALISTA,ROLE_MEDICO,ROLE_JEFE_RESIDENCIA"/>
        <security:intercept-url pattern="/resumen_asistencia_cuarteleria.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/resumen_becados_ubicacion.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/resumen_evaluacion.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/resumen_guardias.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/resumen_hembras_varones.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/resumen_paciente_atendido.faces" access="ROLE_MEDICO"/>
        <security:intercept-url pattern="/residenciaEstudiantil.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/resumen_planteamientos.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/RolesAdmin.faces" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/sancionBecado.faces" access="ROLE_JEFE_RESIDENCIA"/>
        <security:intercept-url pattern="/sanciones.faces" access="ROLE_JEFE_RESIDENCIA"/>
        <security:intercept-url pattern="/tipoEvalBecado.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/tipoEvalDeLosBecados.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/trabajador.faces" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/trabajoProductivo.faces" access="ROLE_ESPECIALISTA"/>
        <security:intercept-url pattern="/users.faces" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/setting.faces" access="ROLE_JEFE_RESIDENCIA,ROLE_MEDICO,ROLE_ESPECIALISTA,ROLE_ADMIN"/>
        

        
        
        <security:intercept-url pattern="/index.faces" access="ROLE_JEFE_RESIDENCIA,ROLE_MEDICO,ROLE_ESPECIALISTA,ROLE_ADMIN"/>  
        <security:intercept-url pattern="/login.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>  
        <security:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_ADMIN,ROLE_USER"/>
        <security:intercept-url pattern="/403.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>  
        <security:intercept-url pattern="/404.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>  
        <security:intercept-url pattern="/500.faces" access="IS_AUTHENTICATED_ANONYMOUSLY"/>  


        <!--Al pasar por el login da acceso a una pagina-->
        <security:form-login login-page='/login.faces' 
                             default-target-url='/index.faces' 
                             always-use-default-target='true'
                             username-parameter="username" password-parameter="password"
        />
        <!--Deslogueo-->
        <security:logout logout-success-url="/login.faces"/>
    </security:http>

    <!--Proveedor de seguridad para bases de datos (designar id)-->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="securityDataSource"/>
            <security:password-encoder hash="md5"/> 
            <!--        <security:user-service>
                <security:user name="user" password="123" authorities="ROLE_USER"/>
            </security:user-service>-->
        </security:authentication-provider>
    </security:authentication-manager>
    


    <!--Configurar e proveedir de seguridad-->
    <bean id="securityDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/Residencia_Unah"/><!--URL de la base de datos a utilizar-->
        <property name="username" value="postgres"/> <!--Usuario de postgress-->
        <property name="password" value="postgres"/> <!--contraseña de postgress-->
    </bean>
</beans>